header {
    height: 90px;
    background-color: rgb(220, 220,220);
    text-align: left;
    font-size: 35px;
    font-family: "Georgia";
    position: top;
    width: 100%;
    z-index: 2;
}
body{
background-color: deepskyblue;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 75px;
}

