header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: white;
    color: blue;
    text-align: center;
    height: 5%;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
body{
background-color: deepskyblue;
}



footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
    height: 75px;
}


cell{
background-color: black;
padding: 1rem;
}