<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bartel Jaapje en Aapje</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>header</header>

    <div class="container">
      @RenderBody()
  </div>

    <footer class="border-top footer text-muted"></footer>

</body>
</html>
