<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bartel Jaapje en Aapje</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header >

     <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
      <label class="logo">Barteljaapje&aapje</label>
      <ul>
        <li><a class="active" href="#">Home</a></li>
        <li><a href="Kaartverkoop">Films & data</a></li>
        <li><a href="Contact">Contact</a></li>
        
        
      </ul>
    </nav>
    <section></section>     

 
</header>
  
<div class="container grid">
      @RenderBody()
       </div>

    

    <footer class="border-top footer text-muted"></footer>

</body>
</html>

<div class="cell">tarieven</div>
 <div class="cell">Films & Data</div>
 <div class="cell">3</div>