<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bartel_Jaapje_en_Aapje_PROECT</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>header</header>    
       
    @RenderBody()

    <footer>&copy; 2022 - Bartel_Jaapje_en_Aapje_PROECT - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></footer>

</body>
</html>
