<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bartel Jaapje en Aapje</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header >
      

 <div class="cell">tarieven</div>
 <div class="cell">Films & Data</div>
 <div class="cell">3</div>
</header>
  
<div class="container grid">
      @RenderBody()
       </div>

    

    <footer class="border-top footer text-muted"></footer>

</body>
</html>
