<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bartel Jaapje en Aapje</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>


    <nav>
        <img src="~/css/fotos/diamondintherough.png" alt="nieuwlogototdatikopschooloudelogoweerkangebruiken" style="width:90px;height:80px;" />

        <div class="buttons">
            <a class="active" href="/">Home</a>
            <a href="/Kaartverkoop">Films & data</a>
            <a href="/Contact">Contact</a>
        </div>

        <label class="logo">Barteljaapje&aapje</label>
    </nav>




    <div class="container grid">
        @RenderBody()
    </div>



    <footer class="border-top footer text-muted"></footer>

</body>

</html>


