@{

    ViewData["Title"] = "contact page";
}
<h1>@ViewData["Title"]</h1>
<form method="post">
    voornaam <input type ='text' name ='voornaam' />

    achternaam <input type ='text' name ='achternaam' />

    email <input type ='text' name ='email' />

          <input type= 'submit' value ='opslaan' />
</form>
<p>Comntact.</p>
