@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<form>
    voornaam <input type ='text' name ='voornaam' />
    achternaam <input type ='text' name ='achternaam' />
    email <input type ='text' name ='email' />
    <input type= 'submit' value ='opslaan'
</form>
<p>Comntact.</p>
