@using Bartel_Jaapje_en_Aapje_PROECT.Database
@model Film
@{
    ViewData["titel"] = Model.Titel;
}

<h1>@Model.Titel</h1>
<p>@Model.Beschrijving</p>
<img class="posterdetailpagina"  src="@Model.Poster"/>
