@using Bartel_Jaapje_en_Aapje_PROECT.Database
@model List<Film>
@{
    ViewData["Title"] = "Home Page";

}

<h1 class="display-4">Nu Actueel</h1>

<div class="film-list">
    @foreach(Film f in Model)
    {
        <a href="/film/@f.Id" class="film" style="background-image:url('@f.Poster')">@f.Titel</a>
    }
</div>
