@{

    ViewData["Title"] = "Kaartverkoop";
}
<h1>@ViewData["Title"]</h1>

<h2>Prijs kaartjes      </h2>
<p>Volwassene   $20,00  </p>
<p>Kind         $15,00  </p>
<p>Senior       $10,00  </p>
<p>Baby         $30,00  </p>
