@{

    ViewData["Title"] = "great success";
}
<h1>@ViewData["Title"]</h1>


<img class="borat"  src="http://www.quickmeme.com/img/14/14c0f057abec6dabfc5be48cbbd0d904fef889a8781eee667984089207daf998.jpg"/>

 
